.GitHubConventionalComments-controls {
  display: none;
}
.GitHubConventionalComments-controls select {
}
.GitHubConventionalComments-controls input {
}
.GitHubConventionalComments-controls.is-open {
  display: flex;
  margin: 8px;
}

.GitHubConventionalComments-trigger {
  display: flex;
  align-items: center;
  border: none;
  background: none;
}

.GitHubConventionalComments-trigger > svg {
  color: #768390;
  fill: transparent;
  width: 24px;
  height: 24px;
}

