.GitHubConventionalComments-controls {
  display: none;
  position: relative;
}

.GitHubConventionalComments-controls:after {
  position: absolute;
  content: '\02EC';
  display: block;
  color: var(--color-fg-muted);
  width: 16px;
  height: 16px;
  font-size: 32px;
  line-height: 0;
  left: calc(50% - 28px);
}

.GitHubConventionalComments-controls select {
  flex: 1;
  margin-right: 16px;
  display: block;
  color: var(--color-fg-muted);
  background-color: var(--color-canvas-inset);
  padding: 4px 8px;
  border-radius: 4px;
  border-color: var(--color-border-default);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.GitHubConventionalComments-controls select:focus {
  border: 1px solid var(--color-accent-emphasis);
  outline: none;
  box-shadow: var(--color-primer-shadow-focus);
  background-color: var(--color-canvas-default);
}

.GitHubConventionalComments-controls input {
  flex: 1;
  color: var(--color-fg-muted);
  background-color: var(--color-canvas-inset);
  padding: 4px 8px;
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
}

.GitHubConventionalComments-controls input:focus {
  border: 1px solid var(--color-accent-emphasis);
  outline: none;
  box-shadow: var(--color-primer-shadow-focus);
  background-color: var(--color-canvas-default);
}

.GitHubConventionalComments-controls.is-open {
  display: flex;
  margin: 8px;
}

.GitHubConventionalComments-trigger {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  border: none;
  background: none;
}

.GitHubConventionalComments-trigger > svg {
  color: var(--color-fg-muted);
  fill: transparent;
  width: 24px;
  height: 24px;
  stroke-width: 2px;
}

.GitHubConventionalComments-trigger:hover > svg,
.GitHubConventionalComments-trigger.is-open > svg {
  color: var(--color-accent-fg);
}

